/* Font sizes */
$font-size-tiny:    9px;
$font-size-x-small: 13px;
$font-size-small:   15px;
$font-size-normal:  16px;
$font-size-medium:  18px;
$font-size-big:     30px;
$font-size-x-big:   35px;
$font-size-huge:    40px;

/* Font weights */
$font-weight-normal: 400;
$font-weight-bold:   700;

/* Colors */
$color-1:  #ffde00; /* sunflower-yellow */
$color-2:  #23d0ec; /* aqua */
$color-3:  #21292d; /* dark */
$color-4:  #2c3339; /* charcoal-grey */
$color-5:  #ecf0f3; /* pale-grey */
$color-6:  #ffffff; /* white */
$color-7:  #2d3031; /* dark-grey */
$color-8:  #c5cfd5; /* silver */
$color-9:  #939a9e; /* cool-grey */
$color-10: #343b3e; /* charcoal-grey-two */
