/* Font families */
$font-family-1: "PT Sans", sans-serif;
$font-family-2: "Montserrat", sans-serif;

/* Font sizes */
$font-size-tiny:    9px;
$font-size-x-small: 13px;
$font-size-small:   15px;
$font-size-normal:  16px;
$font-size-medium:  18px;
$font-size-big:     30px;
$font-size-x-big:   35px;
$font-size-huge:    40px;

/* Font weights */
$font-weight-normal: 400;
$font-weight-bold:   700;

/* Colors */
$color-1:  #ffde00; /* sunflower-yellow */
$color-2:  #23d0ec; /* aqua */
$color-3:  #21292d; /* dark */
$color-4:  #2c3339; /* charcoal-grey */
$color-5:  #ecf0f3; /* pale-grey */
$color-6:  #ffffff; /* white */
$color-7:  #2d3031; /* dark-grey */
$color-8:  #c5cfd5; /* silver */
$color-9:  #939a9e; /* cool-grey */
$color-10: #343b3e; /* charcoal-grey-two */
$color-11: #56dff5; /* robins-egg */
$color-12: #1b1e20; /* dark-grey-two */
$color-13: #dce5eb; /* pale-grey-two */
$color-14: #a2ebf6; /* robins-egg-blue */
$color-15: #41474b; /* charcoal-grey-three */
$color-16: #2a6672; /* blumine */
$color-17: #424c55; /* gunmetal */
$color-18: #67c96b; /* soft-green */
$color-19: #697682; /* battleship-grey */
$color-20: #252b30; /* charcoal-grey-four */
$color-21: #00B9CD; /* iris-blue */
