*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body, #map {
    height: 100%;
    padding: 0;
    margin: 0;
}
#slider{
    width: 600px;
    margin-top:2px;
}

.header {
    position: absolute;
    padding: 60px;
    padding-bottom: 0;
    top: -35px;
    left: 0;
    right: 0;
    float: right;
    z-index: 3;
    background: -moz-linear-gradient(top, rgba(245,245,243,1) 0%, rgba(245,245,243,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,243,1)), color-stop(100%,rgba(245,245,243,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(245,245,243,1) 0%,rgba(245,245,243,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(245,245,243,1) 0%,rgba(245,245,243,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(245,245,243,1) 0%,rgba(245,245,243,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(245,245,243,1) 0%,rgba(245,245,243,0) 100%); /* W3C */
}

#controls {
    position: absolute;
    bottom: 10px;
    width: 700px;
    left: calc((100% - 700px) / 2);
    z-index: 2;
    background-color: #fff;
    padding: 10px;
}

#container {
    width: 100%;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    -webkit-justify-content: flex-end;
       -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
         -o-justify-content: flex-end;
            justify-content: flex-end;
}

#yearcontrol{
    width: 100%;
}

#slider {
    float: right;
}

h1 { font-family: Helvetica, Arial, sans-serif; font-size: 40px; line-height: 40px; margin: 0; color: #48483A;}
h2 { font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 300; line-height:26px; width: 600px; margin-top: -5px; color: #74776B;  }
label, output, input{font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; line-height:13px; width: 600px; margin-top: -5px; color: #74776B;  }
