@import "../settings";

.button {
  display: inline-block;
  padding: 0 40px;
  height: 40px;
  line-height: 40px;
  font-size: $font-size-x-small;
  font-family: $font-family-1;
  font-weight: $font-weight-normal;
  color: $color-2;
  cursor: pointer;
  background-color: $color-3;
  transition: color .3s, background-color .3s;
  &:hover { background-color: $color-12; }

  &.-fixed {
    width: 65px;
    padding: 0;
    text-align: center;
  }

  &.-highlighted {
    color: $color-6;
    background-color: $color-2;
    &:hover { background-color: $color-11; }
  }

  &.-white {
    color: $color-3;
    background-color: $color-6;
    &:hover {
      color: $color-6;
      background-color: $color-3;
    }
  }

  &.-uppercase {
    font-family: $font-family-2;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}
