@import "../settings";

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 116px);
  z-index: 0;

  > .map {
    height: 100%;
    background-color: $color-3 !important;

    :global(.leaflet-control-zoom) {
      margin-top: 50px;
      margin-right: 70px;
      box-shadow: none;
      border: none;

      > :global(.leaflet-control-zoom-in),
      > :global(.leaflet-control-zoom-out) {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
        color: $color-2;
        border-radius: 0;
        border-bottom: none;
        box-shadow: none;
        background-color: $color-3;
        transition: color .3s, background-color .3s;

        &:hover {
          color: $color-14;
          background-color: $color-15;
        }

        &:global(.leaflet-disabled),
        &:global(.leaflet-disabled):hover {
          color: $color-16;
          background-color: $color-3;
          cursor: default;
        }
      }
    }

    :global(.leaflet-control-attribution) {
      color: $color-9;
      margin: 0 70px 5px 0;
      background: none;
      > a { color: $color-2; }
    }

    /* We don't want the geometries to have the pointer cursor */
    :global(path.leaflet-clickable) {
      cursor: inherit;
    }

    :global(.leaflet-draw-tooltip) {
      font-family: $font-family-1;
      font-size: $font-size-x-small;
      padding: 24px;
      color: $color-13;
      background: none;
      border: none;
      border-radius: 0;
      background-color: $color-3;
      box-shadow: 0 0 15px 0 rgba(13, 13, 13, .1);

      &:before {
        top: 15px;
        left: -6px;
        border-right-color: $color-3;
        box-shadow: 0 0 15px 0 rgba(13, 13, 13, .1);
      }

      &:global(.leaflet-draw-tooltip-single):before {
        top: 7px;
      }

      > :global(.leaflet-draw-tooltip-subtext) {
        color: inherit;
      }
    }

  }

  > .minimap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform-origin: right bottom;
    cursor: pointer;
    background-color: $color-3 !important;
  }
}
