@import "../settings";

.content {
  > h1 {
    font-family: $font-family-1;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    color: $color-8;
  }

  > .input-container {
    position: relative;
    margin-top: 30px;

    > input {
      display: block;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 1px solid $color-17;
      font-family: "PT Sans", serif;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
      line-height: 40px;
      color: $color-8;
      outline: none;
    }

    > input::-webkit-input-placeholder { opacity: .6; }
    > input:-ms-input-placeholder      { opacity: .6; }
    > input::-ms-input-placeholder     { opacity: .6; }
    > input:-moz-placeholder           { opacity: .6; }
    > input::-moz-placeholder          { opacity: .6; }

    > svg {
      position: absolute;
      bottom: 15px;
      right: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      > use {
        fill: $color-2;
        transition: fill .3s;
      }
      &:hover > use { fill: $color-14; }
    }
  }

  > .message {
    margin-top: 20px;
  }
}
