@import "../settings";

.content {
  max-width: 510px;
  font-family: $font-family-1;
  font-size: $font-size-medium;
  line-height: 32px;
  text-align: center;
  color: $color-8;

  > h1 {
    font-family: $font-family-2;
    font-size: $font-size-big;
    font-weight: $font-weight-bold;
    line-height: 42px;
    letter-spacing: .8px;
    text-transform: uppercase;
  }

  > p { margin-bottom: 30px; }
}
